@tailwind base;
@tailwind components;
@tailwind utilities;


.containers {
    width: 90% !important;
    margin: auto !important;
}

/* @media screen and (min-width: 1536px) {

    .container {
        width: 95% !important;
        margin: auto !important;
    }
} */

/* .vape_image {
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
} */

/*------------------------------------- BANNER SECTION CSS-------------------------------- */
.change_inputs {
outline: 1px solid red;
}


.change_inputs ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red !important;
    opacity: 1; /* Firefox */
  }
  
  .change_inputs:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red !important;
  }
  
  .change_inputs::-ms-input-placeholder { /* Microsoft Edge */
    color: red !important;
  }
/* ------vape image------- */
.vape_image:hover {
    cursor: pointer;
}

/* ------gummy image--------- */
.gummy_image {
    cursor: pointer;
}

.adjust_index {
    z-index: 10000 !important;
}

.change_class {
    flex-direction: row-reverse !important;
}

@media screen and (max-width:1023px) {
.change_class {
    flex-direction: column-reverse !important;
}
}

.set_image {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
/* body {
    -webkit-touch-callout: none; /* Disable callout on iOS */
    /* -webkit-user-select: none; Disable selection on iOS */
    /* -khtml-user-select: none; Disable selection on old Konqueror browsers */
    /* -moz-user-select: none; Disable selection on Firefox */
    /* -ms-user-select: none; Disable selection on Internet Explorer */
    /* user-select: none; Disable selection on modern browsers */
  /* } */ 

  .set_header {
    transition: top 0.7s;
    /* transform: translateY(-100%); */
    position: fixed;
    top: -100vh;

  }

  .set_header2 {
    transition: top 0.7s;
    top: 0vh;
    /* transform: translateY(0%); */
  }

  /* .image:hover{
    transform: rotatey(180deg) scale(1.1);
    }
    .image:hover::before{
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    }
    .image{
       
        transition: all 0.9s;
        position: relative;
       
       } */
       

       /* spinner loader */
       /* .spinner {
        width: 48px;
        height: 48px;
        display: inline-block;
        position: relative;
      }
      .spinner::after,
      .spinner::before {
        content: '';  
        box-sizing: border-box;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 4px solid #FFF;
        position: absolute;
        left: 0;
        top: 0;
        animation: animloader 2s linear infinite;
      }
      .spinner::after {
        animation-delay: 0.9  s;
      }
      
      @keyframes animloader {
        0% {
          transform: scale(0);
          opacity: 1;
        }
        100% {
          transform: scale(1);
          opacity: 0;
        }
      } */

     
      /* } */
     
      .loader {
        width: 32px;
        height: 32px;
        border: 3px solid #F6DE8F;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        animation: rotation 0.5s linear infinite;
      }
      .loader::after {
          content: '';  
        box-sizing: border-box;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 4px solid transparent;
          border-bottom-color: white;
      }
          
      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      } 
    
           .spin{
        position: absolute;
        top: 20%;
        left: 35%;
        transform: translate(-50% , -50%);
      }

      @media only screen and (max-width: 768px) {
        .loader {
          width: 20px;
          height: 20px;
          border: 3px solid #F6DE8F;
          border-radius: 50%;
          display: inline-block;
          position: relative;
          box-sizing: border-box;
          animation: rotation 0.5s linear infinite;
        }
        .loader::after {
            content: '';  
          box-sizing: border-box;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 4px solid transparent;
            border-bottom-color: white;
        }
            
        @keyframes rotation {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        } 
      
             .spin{
          position: absolute;
          top: 20%;
          left: 35%;
          transform: translate(-50% , -50%);
        }
      }