@tailwind base;
@tailwind components;
@tailwind utilities;


.containers {
    width: 90% !important;
    margin: auto !important;
}

/* @media screen and (min-width: 1536px) {

    .container {
        width: 95% !important;
        margin: auto !important;
    }
} */

/* .vape_image {
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
} */

/*------------------------------------- BANNER SECTION CSS-------------------------------- */
.change_inputs {
outline: 1px solid red;
}


.change_inputs ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red !important;
    opacity: 1; /* Firefox */
  }
  
  .change_inputs:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red !important;
  }
  
  .change_inputs::-ms-input-placeholder { /* Microsoft Edge */
    color: red !important;
  }
/* ------vape image------- */
.vape_image:hover {
    cursor: pointer;
}

/* ------gummy image--------- */
.gummy_image {
    cursor: pointer;
}

.adjust_index {
    z-index: 10000 !important;
}

.change_class {
    flex-direction: row-reverse !important;
}

@media screen and (max-width:1023px) {
.change_class {
    flex-direction: column-reverse !important;
}
}

.set_image {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
body {
    -webkit-touch-callout: none; /* Disable callout on iOS */
    -webkit-user-select: none; /* Disable selection on iOS */
    -khtml-user-select: none; /* Disable selection on old Konqueror browsers */
    -moz-user-select: none; /* Disable selection on Firefox */
    -ms-user-select: none; /* Disable selection on Internet Explorer */
    user-select: none; /* Disable selection on modern browsers */
  }